.container {
    background-color: #c00025;
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }
.btn{
    border-radius: 50%;
    width: 84px;
    height: 84px;
    margin: 10px;
    font-size: 2rem;
}
.numberButton {
    background-color: #184379;
    color: #fff;
}
.numberButton:nth-child(10) {
    border-radius: 30px;
    width: 188px;
}
.operatorButton {
    background-color: #237293;
    color:  #fff;
}
.specialButton {
    background-color: #225d9e;
    color: #fff;
}
.btns {
    display: flex; 
    justify-content: space-between;
    width: 94%    

}
.left-panel {
    display: flex; 
    flex-wrap: wrap;
    width: 100%;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-left: 24px;
}

.right-panel {
    margin-right: 14px;
}